<body bgcolor="#FFFFFF">
    <form name="emp" action="" onsubmit="return validate_form();" method="post">
        <table align="center" width=40% width="100%" cellspacing="10" cellpadding="10" border="5">
            <tr>
                <td colspan="2" align="center"><b>Employee Verification Form.</b></td>
 
            </tr>
            <tr>
                <td align="left" valign="top" width="41%">Employee Name<span style="color:red">*</span></td>
 
                <td width="57%"><input type="text" value="" name="emp_name" size="24"></td>
            </tr>
            <tr>
                <td align="left" valign="top" width="41%">Employee ID Number<span style="color:red">*</span></td>
                <td width="57%">
                    <input type="text" value="" name="num" onkeypress="return isNumberKey(event)" size="24"></td>
            </tr>
            
 
            <td align="left" valign="top" width="41%">Phone Number</td>
            <td width="57%">
                <input type="text" value="" onkeypress="return isNumberKey(event)" name="txtFName1" size="24"></td>
            </tr>
            <tr> 
                <td align="left" valign="top" width="41%">Location</td>
                <td width="57%"><select name="mydropdown">
<option value="Default">Default</option>
<option value="Dubai">Dubai</option>
<option value="Morocco">Morocco</option>
<option value="Niger">Niger</option>
<option value="Ghana">Ghana</option>
<option value="Nigeria">Nigeria</option>
 
</select></td>
 
 
            </tr>
 
            <tr>
                <td align="left" valign="top" width="41%">Designation</td>
                <td width="57%">
                    <select name="mydropdown">
<option value="Default">Default</option>
<option value="Software Engineer">Software Engineer</option>
<option value="Systems Engineer">Systems Engineer</option>
<option value="Technology Analyst">Technology Analyst</option>
<option value="Developer">Developer</option>
<option value="Project Manager">Project Manager</option>
 
 
</select></td>
 
 
            </tr>
            <tr>
                <td align="left" valign="top" width="41%">Email<span style="color:red">*</span></td>
                <td width="57%">
                    <input type="text" value="" name="email_id" size="24"></td>
            </tr>
 
            <tr>
                <td colspan="2">
                    <p align="center">
                        <input type="Submit" value="  Submit" name="B4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="reset" value="  Reset All   " name="B5"></td>
            </tr>
 
        </table>
    </form>
</body>
 
</html>